[Unit]
Description=Upload ABC data daily.

# https://www.freedesktop.org/software/systemd/man/systemd.timer.html


[Timer]
# OnCalendar=*:0,5,10,15,20,25,30,35,40,45,50,55

# https://unix.stackexchange.com/questions/396605/systemd-timer-every-2-hours-at-30-minutes-past-the-hour/396673
# OnCalendar=*:0,5,10,15,20,25,30,35,40,45,50,55
# OnCalendar=*:0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59
# Every 1 minute (minute-division)
# OnCalendar=*:0/1
# OnCalendar=*-*-* *:00/1:00
# Every third hour (from 00), at minute=30
# OnCalendar=00/3:30
#     iow    hh/r:mm
# Every hour, 11 min after the full hour

# Every day at 3 min past midnight UTC
OnCalendar=*-*-* 00:03:00 UTC

# # Randomize the delay
# RandomizedDelaySec=20sec

# Set the Accuracy
AccuracySec=1s

Unit=abc_upload.service


[Install]
WantedBy=multi-user.target
