# this block contains symlink generators for the rev A2 broodnest boards.
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N01", SYMLINK+="abc01"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N02", SYMLINK+="abc02"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N03", SYMLINK+="abc03"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N04", SYMLINK+="abc04"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N05", SYMLINK+="abc05"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N06", SYMLINK+="abc06"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N07", SYMLINK+="abc07"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N08", SYMLINK+="abc08"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N09", SYMLINK+="abc09"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N10", SYMLINK+="abc10"

# from mfr batch 2022
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N12", SYMLINK+="abc12"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N14", SYMLINK+="abc14"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N15", SYMLINK+="abc15"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N21", SYMLINK+="abc21"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N22", SYMLINK+="abc22"
ACTION=="add", ATTRS{idVendor}=="1d50",  ATTRS{idProduct}=="6018", ATTRS{serial}=="SER BroodFW-revA2-N23", SYMLINK+="abc23"
